arviz==0.12.0
attrs==21.4.0
cftime==1.6.0
cycler==0.11.0
fonttools==4.33.2
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.1
netCDF4==1.5.8
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scipy==1.8.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.2.0
xarray==2022.3.0